@model ManagerStudent.Models.ViewSinhVienModel
@{
    ViewBag.Title = "AddNewStudent";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Content/Admin/AddNewStudent.css" />
<section class="add-user-form">
    <form action="/Admin/AddNewStudent" method="POST">
        <label for="username">Mã sinh viên: </label>
        <input type="text" id="mssv" name="MaSV" placeholder="Nhập mã sinh viên ..dh.." required>

        <label for="username">Họ và tên: </label>
        <input type="text" id="username" name="HoTen" placeholder="Họ và tên sinh viên mới" required>

        <label for="username">Giới tính: </label>
        <select name="GioiTinh">
            <option>Chọn giới tính</option>
            <option value="0">Nữ</option>
            <option value="1">Nam</option>
        </select>

        <label for="email">Email: </label>
        <input type="email" id="email" name="Email" required>

        <label for="phone">Số điện thoại: </label>
        <input type="tel" id="phone" name="SoDienThoai" required>

        <label for="address">Địa chỉ: </label>
        <input type="text" id="address" name="DiaChi" />

        <label for="address">CCCD: </label>
        <input type="text" id="cccd" name="CMND" />

        <label for="address">Ngày Sinh: </label>
        <input type="date" id="date" name="NgaySinh" />

        <label for="address">Niên khóa: </label>
        <input type="text" id="nk" name="NienKhoa" />

        <label for="khoa">Khoa: </label>
        <select name="MaKhoa">
            <option>Khoa của sinh viên</option>
            @foreach(var khoa in Model.Khoas)
            {
                <option value="@khoa.MaKhoa">@khoa.TenKhoa</option>
            }
        </select>

        <label for="khoahoc">Khóa học: </label>
        <select name="MaKH">
            <option>Khóa học của sinh viên</option>
            @foreach(var khoahoc in Model.KhoaHocs)
            {
                <option value="@khoahoc.MaKH">@khoahoc.TenKH</option>
            }
        </select>

        <label for="tinhtrang">Tình trạng học: </label>
        <select name="ID_Status">
            @foreach(var tinhtrang in Model.TinhTrangHocs)
            {
                <option value="@tinhtrang.ID_Status">@tinhtrang.TinhTrang</option>
            }
        </select>

        <input type="submit" value="Thêm Người dùng" />
    </form>
</section>

