
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<link rel="stylesheet" href="~/Content/UserPage/Function/Information.css" />

<section class="content">
    <h3>Thông tin cá nhân</h3>
    <div class="Information-frame">
        <table border="1" style="border-collapse: collapse; border-left: none;" class="infomation-table">
            <tr class="col-md-1">
                <td rowspan="7" class="row-col-11">
                    <img src="profile-placeholder.png" alt="Profile Picture" width="100">
                </td>
                <th colspan="2" class="row-col-12">Thông tin khoá học</th>
                <th colspan="2" class="row-col-12">Thông tin liên lạc</th>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">Khóa học:</td>
                <td colspan="2" class="row-col-12">Dân tộc:</td>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">Chức vụ:</td>
                <td colspan="2" class="row-col-12">Tôn giáo:</td>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">Đối tượng:</td>
                <td colspan="2" class="row-col-12">Quốc gia:</td>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">THPT Lớp 12:</td>
                <td colspan="2" class="row-col-12">Tỉnh thành:</td>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">Đoàn:</td>
                <td colspan="2" class="row-col-12">Quận huyện:</td>
            </tr>
            <tr>
                <td colspan="2" class="row-col-12">Ngày vào đoàn:</td>
                <td colspan="2" class="row-col-12">Di động: <b>@Session["SoDienThoai"]</b></td>
            </tr>
            <tr>
                <td class="row-col-21">MSSV: <b>@Session["MaSV" ?? "Mã sinh viên chưa load"]</b></td>
                <td colspan="2" class="row-col-12">Đảng:</td>
                <td colspan="2" class="row-col-12">Điện thoại bàn:</td>
            </tr>
            <tr>
                <td class="row-col-21">Họ và tên: <b>@Session["HoTen"]</b></td>
                <td colspan="2" class="row-col-12">Ngày vào đảng:</td>
                <td colspan="2" class="row-col-12">
                    <a>Cập nhật thông tin cá nhân</a>
                </td>
            </tr>
            <tr>
                <td class="row-col-21">Giới tính: <b>@Session["GioiTinh"]</b></td>
                <td colspan="4">Loại hình đào tạo:</td>
            </tr>
            <tr>
                <td class="row-col-21">CMND: <b>@Session["CMND"]</b></td>
                <td colspan="4">Cố vấn học tập:</td>
            </tr>
            <tr>
                <td class="row-col-21">Tình trạng học:<b>Còn học</b></td>
                <td colspan="4">Liên hệ cố vấn học tập:</td>
            </tr>
            <tr>
                <td class="row-col-21">Niên khoá: <b>@Session["NienKhoa"]</b></td>
                <td colspan="4">Lớp sinh viên:</td>
            </tr>
            <tr>
                <td class="row-col-21" colspan="5">Email trường: <b>NameSchool@Example.com</b></td>
            </tr>
            <tr>
                <td class="row-col-21" colspan="5">Email cá nhân: <b>@Session["Email"]</b></td>
            </tr>
            <tr>
                <td class="row-col-21" colspan="5">Địa chỉ liên lạc SV: <b>@Session["DiaChi"]</b></td>
            </tr>
            <tr>
                <th class="row-col-21" colspan="5">Thông tin người liên hệ</th>
            </tr>
            <tr>
                <td class="row-col-21" colspan="5">Họ tên người liên hệ: </td>
            </tr>
            <tr>
                <td class="row-col-21" colspan="5">Địa chỉ người liên hệ: </td>
            </tr>
        </table>
    </div>
</section>

